/*underline animation for nav start*/
li {
  display: inline-block;
  position: relative;
  border: 2px solid transparent;
}

li::after {
  width: 0%;
  height: 2px;
  display: block;
  background-color: #ddd;
  content: " ";
  position: absolute;
  top: 60px;
  left: 50%;
  -webkit-transition: left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

li:hover::after {
  width: 100%;
  height: 2px;
  display: block;
  background-color: #ddd;
  content: " ";
  position: absolute;
  top: 60px;
  left: 0;
}
/*underline animation for nav end*/


@media only screen and (max-width: 1280px) {

    [class*="side"] {
        float: none;
        visibility: hidden;
    }
}

.container {
  padding: 35px;
  margin-right: 35px;
}

.side {
  float: right;
  background-color: white;
  margin-top: 43px;
  width: 350px; /*was 400px*/
  height: 1047px;
  border-radius: 1px;
  top: 114px;
  position: absolute;
  right: 10px;
}

.main {
  background-color: white;
  width: 860px;
  height: 48%;
  margin-left: 30px;
  margin-top: 60px;
  overflow: hidden; /*doesnt allow img outside of div*/
  border-radius: 1px;
  box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.4);
  display: inline-block;
}

@media only screen and (max-width: 1068px) {
    /* For mobile phones: */
    [class="main"] {
        width: 80%;
    }
}

.mainimg {
  width: 430px;
  height: 90%;
  padding: 10px;
  /*background-color: black;*/
}

@media only screen and (max-width: 1047px) {

    .mainimg {
      width: 350px;
    }
}

@media only screen and (max-width: 700px) {

    .mainimg {
      width: 300px;
    }
}

@media only screen and (max-width: 633px) {

    .mainimg {
      width: 380px;
      height: 200px;
    }
}

.maintext {
  width: 400px;
  height: 90%;
  margin-top: -270px;
  margin-right: 10px;
  /*background-color: red;*/
  float: right;
}

@media only screen and (max-width: 1068px) {
    /* For mobile phones: */
    [class="maintext"] {
        float: none;
        margin-left: 350px;
        width: auto;
    }
}

@media only screen and (max-width: 700px) {

    .maintext {
      margin-left: 300px;
    }
}

@media only screen and (max-width: 633px) {

    .maintext {
      margin-left: 280px;
      margin-top: -200px;
    }
}

@media only screen and (max-width: 577px) {

    .maintext {
      margin-left: 0;
      margin-top: -270px;
    }
}

img {
  max-width: 100%;
  max-height: 100%;
  text-align: center;
}

@media only screen and (max-width: 1047px) {

    .mainimg {
      margin-top: 20px;
    }
}

.first {
  background-color: white; /*blue*/
  width: 30%;
  height: 48%;
  float: left;
  margin-top: 30px;
  margin: 30px;
  border-radius: 1px;
  display: inline-block;
  text-align: center;
   /*overflow: hidden - doesnt allow img outside of div*/
}

@media only screen and (max-width: 807px) {

    [class*="first"] {
        float: none;
        width: 90%;
    }
}

.text{
  /*background-color: black;*/
  text-align: center; /*centre aligns h2*/
}

@media only screen and (max-width: 807px) {

    [class*="text"] {
        float: none;
        width: auto;

    }
}

.second {
  background-color: white; /*red*/
  width: 30%; /*ca. 347px*/
  height: 48%;
  float: left;
  margin-top: 30px;
  text-align: center;
  margin: 30px;
  border-radius: 1px;
  display: inline-block;
}

@media only screen and (max-width: 807px) {

    [class*="second"] {
        float: none;
        width: 90%;
    }
}

.third{
 background-color: white; /*black*/
 width: 30%;
 height: 48%;
 margin-top: 377px;
 margin-left: 0px;
 margin: 30px;
 float: left;
 border-radius: 1px;
 display: inline-block;
 text-align: center;
}

@media only screen and (max-width: 807px) {

    [class*="third"] {
        float: none;
        width: 90%;
    }
}

.fourth{
 background-color: white; /*pink*/
 width: 30%;
 height: 48%;
 margin-top: -334px;
 float: left;
 margin: 30px;
 border-radius: 1px;
 display: inline-block;
 text-align: center;
}

@media only screen and (max-width: 807px) {

    [class*="fourth"] {
        float: none;
        width: 90%;
    }
}

h1 {
  text-align: center;
  margin: 30px;
}

@media only screen and (max-width: 575px) {

    h1 {
      margin-top: 260px;
      font-size: 1.5em;
    }
}

@media only screen and (max-width: 577px) {

    h1 {
      margin-top: 260px;
      font-size: 1.1em;
    }
}

h2 {
  text-align: center;
}

h3 {
  margin-top: 4px;
}

body {
/*background-image: url(file:///Users/BrianLambe/Downloads/logo.png);*/
background-color: #f8f8f8;
min-height: 100%;
}

/*nav bar start*/
/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul li.icon {display: none;}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:712px) {
  ul li:not(:first-child) {display: none;}
  ul li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:712px) {
  ul.responsive {position: relative;}
  ul.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.responsive li {
    float: none;
    display: inline;
  }
  ul.responsive li a {
    display: block;
    text-align: left;
    margin-left: 15px;
  }
}


nav li {
  display: inline-block;
  font-size: 1.4em;
  line-height: 70px; /*red box in navbar dimensions*/
  height: 70px; /*red box in navbar dimensions*/
  width: 130px;
}

nav ul {
  text-align: center;
  background-color: #005689; /*backgr color in navbar - was #ddd*/
  border-radius: 3px;
  padding: 0; /*removes gap on left side of main nav*/
  width: 100%;
}

nav a:hover {
background-color: #005689 /*mainnav backgr color hover - was #d5d5d5*/
cursor: pointer;
border-radius: 5px;
color: lightgrey; /*text hover color main nav*/
}

nav ul li:hover {  /*makes main nav hover color #d5d5d5 while sub-menu is acc being hovered*/
  background-color: #005689; /*was #d5d5d5 */
}

nav a {
  text-decoration: none;
  color: #fff; /*text color in mainnav - was black*/
  font-family: 'Ubuntu', sans-serif;
  display: block;
}

/*start of dropdown*/

ul.sub-menu{
  position: absolute;
  background-color: white; /*dropdown backroundcolor was rgba(0, 0, 0, 0.7)*/
  list-style-type: none;
  color: rgba(0, 0, 0, 0.8); /*dropdown font color was rgba(255, 255, 255, 0.7)*/
  font-family: 'Ubuntu', sans-serif;
  font-variant: small-caps;
  width: 130px; /*was 129px*/
  padding-left: 0px;
  margin-left: 0px;
  padding-top: 0px;
  visibility: hidden; /*hides dropdown when not hovered*/
  font-size: .7em;
  border-radius: 0px 0px 5px 5px; /*rounds bottom corners on dropdown*/
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6); /* shadow on dropdown*/
  border: 1px solid rgba(0, 0, 0, 0.5);
  /*transform: translateY(-4em); /* dropdown slide down animation start*/
  /*z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.1s, z-index 0s linear 0.01s; /* dropdown slide down animation end*/
}

ul.sub-menu li{
  padding-left: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 50px;
  border-radius: 0px;
  text-align: center;
}

ul.sub-menu li:hover {  /*dropdown menu hover*/
  background-color: rgba(0, 0, 0, 0.2); /*was #666*/
  cursor: pointer;
  border-radius: 0px;
  width: 120px; /*width for dropdown hover*/
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0;
  /*box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); /*shadow on individual items in dropdown*/
}

@media only screen and (max-width: 712px) {
    /*hides dropdown when in mobile view*/
    .sub-menu {
       opacity: 0;
    }
}

nav li:hover .sub-menu{
  visibility: visible;  /*makes dropdown appear when hovered*/
  margin-left: 0px; /*dropdown margin left*/
  /*z-index: 1; /*dropdown slide animation start*/
  /*transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s; /*allows you to hover on dropdown after animation --dropdown slide animation end*/
}

/*end of dropdown*/



footer{
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
  margin-top: 2em;
  text-align: center;
}








/*span{  /*dropdown arrow */
/*margin-left: -30px;
width: 2px;
}
